/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
  position: fixed;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
  border-radius: 8px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background: transparent;
}
* {
  &:hover {
    ::-webkit-scrollbar-thumb {
      border-radius: 8px;
      background: rgba($color: #e2e2e2, $alpha: 1);
    }
  }
}
